h1 {
  font-size: large;
  color: orange;
}

body {
    background-color: #333;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

h2 {
  font-size: large;
  color: orange;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0 10px 0;
    text-align: center;
}

.square {
    height: 500px;
    width: 1500px;
    color: white;
    border: 5px solid orangered;
    border-image: linear-gradient(to right, #000046, #1cb5e0);;
    border-image-slice: 1;
    text-align: center;
}

a {
  color: white;
}