h1 {
  background-color: rgb(32,28,44);
  color: orange;
}

body {
    background-color: rgb(32,28,44);
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(32,28,44);
}

h2 {
  font-size: large;
  color: orange;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

lo {
  text-align: center;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

footer {
    background-color: rgb(32,28,44);
    color: white;
    padding: 20px 0 10px 0;
    text-align: center;
    position: relative;
}

.square {
    color: white;
    border: 5px solid orangered;
    border-image: linear-gradient(to right, #000046, #1cb5e0);;
    border-image-slice: 1;
    text-align: center;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 5px;
    background-color: rgb(32,28,44);
}

a {
  color: white;
}

.main-title {
  text-align: center;
}

h3 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
  color: white;
}

elt{
  color: rgb(13, 163, 81);
}

.bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgb(87, 80, 80);
  transition: all .4s ease-in-out;
  z-index: -1;
  transform: translate(-50%,-50%);
  font-weight: 800;
  font-size: 6.3rem;
}

h4 {
  text-align: center;
  color: white;
}

mark {
  font-weight: bold;
  border-radius: 5px;
  background-color: rgb(13, 163, 81);
  padding: 3px 9px;
}

details {
  box-shadow: 0 0 10px rgb(13, 163, 81);
  padding: 1em 1em 0;
  border-radius: 10px;
  background-color: white;
}

summary {
  font-weight: bold;
  cursor: pointer;
  margin: -1em -.5em 0;
  padding: .5em;
}

details[open] {
  padding: 1em;
}

details[open] summary {
  margin-bottom: .5em;
}

list {
  text-align: right;
  color: rgb(13, 163, 81);
}

.about_data {
  text-align: center;
}

.about_info {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: .5rem;
  margin-bottom: 2rem;
}

.about_box {
  background-color: rgb(37, 34, 34);
  border-radius: .75rem;
  padding: .75rem;
  color: white;
  margin-bottom: .75rem;
}

.about_info_2 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: .5rem;
  margin-bottom: 2rem;
}

.about_box_2 {
  background-color: rgb(32,28,44);
  border-radius: .75rem;
  padding: .75rem;
  color: white;
  margin-bottom: .75rem;
  text-align: center;
}

boxtitle {
  font-size: large;
}

boxdesc {
  font-size: small;
}

.about_icon {
  font-size: 2rem;
  color: white;
  margin-bottom: .5rem;
  position: center;
}

.about_icon2 {
  font-size: 1rem;
  color: white;
  margin-bottom: .5rem;
  position: center;
}

.about_icon_skills {
  font-size: 1.25rem;
  color: white;
  margin-bottom: .5rem;
  position: center;
}

intermediate {
  font-size: large;
  color: orange;
}

new {
  font-size: large;
  color: rgb(12, 216, 12);
}

na {
  font-size: large;
  color: green;
}

language {
  font-size: large;
  color: white;
}

ia {
  font-size: large;
  color: orangered;
}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr:after {
  background: #fff;
  padding: 0 4px;
  position: relative;
  top: -13px;
}

script {
  color: white;
}

p {
  color: white;
}

socialnetwork {
  text-align: center;
  font-size: 2rem;
  color: white;
}

span {
  color: white;
}


#ct{height:150px; width:370px;border:1px solid rgb(12, 216, 12);margin: 100px auto;text-align:center;position:relative;color:#fff;padding:15px;}

author{
  background:rgb(32,28,44);
  color:#f1c40f;
  padding:0 10px;
  font-size:20px;
  position:relative; 
  top:-28px;
}
.corner{height:30px;
  width:30px;
  border-radius:50%;
  border:1px solid #fff;
  transform:rotate(-45deg);  
  position:absolute;
  background:rgb(32,28,44);
}

#left_top{
  top:-16px;
  left:-16px;
  border-color:transparent transparent rgb(12, 216, 12) transparent;
}
#right_top{
  top:-16px;
  right:-16px;
  border-color:transparent transparent transparent rgb(12, 216, 12);
}
#left_bottom{
  bottom:-16px;
  left:-16px;
  border-color:transparent rgb(12, 216, 12) transparent transparent ;
}
#right_bottom{
  bottom:-16px;
  right:-16px;
  border-color:rgb(12, 216, 12) transparent transparent transparent;
}
p{padding-top:13px;font-size:18px}

.button {
  background-color: rgb(12, 216, 12); /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button5 {
  background-color: rgb(32,28,44);
  color: white;
  border: 2px solid #555555;
}

.button5:hover {
  background-color: rgb(32, 148, 32);
  color: white;
}